.article-header.has-featured-tag {
	h1 {
		margin-top: 0;
	}
}

.article-header .featured-tag {
	text-transform: uppercase;
	font-family: $font-family-sans-serif;
	font-size: 11px;
	color: #888;
	margin: 10px 0;
}

.Article, .ArticleFromWord {
	.bigtext-wrapper {}

	.bigtext {
		overflow-y: hidden;
		overflow-x: auto;
		position: relative;

		/* These are technically the same, but use both */
		overflow-wrap: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;

		/* Instead use this non-standard one: */
		word-break: break-word;
	}

	.cover {
		height: 400px;
		background-size: cover;
		background-position: 50% 50%;
	}

	.article-nav {
		h2 {
			font-variant: small-caps;
			font-size: 22px;
			font-weight: normal;
		}
	}

	.article-header {
		h1 {
			margin-bottom: 0;
		}

		.byline {
			margin-top: 0;
		}
	}

	//Sidebar social icons
	.article-social-container-main {
		margin: 25px 0;

		&.affix {
			position: static;
		}

		@media (min-width: $screen-lg-min) {
			&.affix {
				position: fixed;
				top: 35px;
			}
		}

		.article-social {
			@media (min-width: $screen-lg-min) {
				float: right;

				& li:first-child {
					border: none;
				}

				& li {
					border-bottom: 1px solid #ddd;
					display: block;
					margin-right: 0;
					width: 80px;

					a.download {
						text-align: center;
					}
				}

				& a, span.social-label {
					padding: 7px 0 5px;
				}

				a.download {
					padding: 3px;
				}

				span.social-label {
					display: block;
				}
			}
		}
	}

	//Default horizontal social icons
	.article-social {
		font-family: $font-family-sans-serif;
		list-style: none;
		margin: 0;
		font-size: 13px;
		padding: 0;

		& li {
			display: inline-block;
			margin-right: 1em;
		}

		& a {
			color: #444;
			display: block;

			&.download {
				color: $brand-primary;
			}
		}
	}
}

.byline {
	margin: 20px 0;

	h1 {
		margin-bottom: 0;
	}

	.category {
		font-size: 13px;
		display: block;
		margin-top: 10px;
		margin-bottom: 5px;
		font-family: $font-family-sans-serif;
		text-transform: uppercase;
	}
}

.citation {
	color: #808080;
	font-size: 14px;
}

.article-card-container {
	article {
		.article-header {}

		h1 {
			font-size: 28px;
			margin-top: 10px;
			margin-bottom: 5px;

			a {
				color: #222;
			}
		}
	}

	.byline {
		margin: 0;
	}
}

.expand-header {
	cursor: pointer;
	text-transform: uppercase;
	color: #777;
	font-family: $font-family-sans-serif;
	text-align: center;
	padding: 10px;
	border: 1px solid #ddd;
	margin: 10px 0;
	font-size: 12px;
}

.expanded-content-container .content {
	display: none;
	padding: 5px;
}