.article-header.has-featured-tag {
	h1 {
		margin-top: 0;
	}
}

.article-header .featured-tag {
	text-transform: uppercase;
	font-family: $font-family-sans-serif;
	font-size: 13px;
	color: #888;
	margin: 0;
	background: none;
}

.article-nav-container {
	padding-top: 20px;
}

.AboutPage {
	h1 {
		text-align: center;
	}
}

.Article, .AboutPage {
	.article-header.primary-article-header {
		text-align: center;
	}

	.bigtext-wrapper {}

	.author-notes {
		font-size: 13px;

		@media (min-width: $screen-lg-min) {
			padding-top: 25px;
		}

		.details > p:first-of-type {
			display: inline;
		}
	}

	.main-content {
		padding: 0;
	}

	.table-responsive {
		@media (min-width: $screen-lg-min) {
			margin-left: -30%;
			width: 150%;
		}

		z-index: 99;

		table {
			td {
				background: #fafafa;
			}
		}
	}

	div.bigtext {
		//overflow-y: hidden;
		line-height: 1.8;
		font-size: 22px;

		@media (min-width: $screen-md-min) {
			text-align: justify;
		}

		// > p:first-of-type:first-letter {
		// 	color: #333;
		// 	font-size: 62px;
		// 	line-height: 65px;
		// 	margin-right: 10px;
		// 	float: left;
		// 	width: 40px;
		// }

	}

	.cover {
		height: 400px;
		background-size: cover;
		background-position: 50% 50%;
	}

	.article-nav {
		h2 {
			font-variant: small-caps;
			font-size: 22px;
			font-weight: normal;
		}
	}

	.article-header {
		@media (min-width: $screen-lg-min) {
			padding: 40px 0;
		}

		h1 {
			margin-top: 0;
			margin-bottom: 0;
		}

		// .byline {
		// 	margin-top: 0;
		// }

	}

	blockquote {
		border-left: none;
		font-size: 22px;
	}

	.joint-author-notes {
		font-size: 14px;
	}

	.article-share-container {
		padding-top: 20px;
		padding-bottom: 20px;

		@media (min-width: $screen-lg-min) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	//Sidebar social icons
	.article-social-container-main, .article-social-bottom {
		margin: 25px 0;

		&.affix-bottom {
			position: absolute;
		}

		&.affix {
			position: static;
		}

		@media (min-width: $screen-lg-min) {
			&.affix {
				position: fixed;
				top: 35px;
			}
		}

		//Default horizontal social icons
		.article-social {
			font-family: $font-family-sans-serif;
			list-style: none;
			margin: 0;
			font-size: 13px;
			padding: 0;

			& li {
				display: inline-block;
				margin-right: 1em;
			}

			& a {
				color: #444;
				display: block;

				&.download {
					color: $brand-primary;
				}
			}
		}

		.article-social.responsive {
			@media (min-width: $screen-lg-min) {
				float: right;

				& li:first-child {
					border: none;
				}

				& li {
					border-bottom: 1px solid #ddd;
					display: block;
					margin-right: 0;
					width: 80px;

					a.download {
						text-align: center;
					}
				}

				& a, span.social-label {
					padding: 7px 0 5px;
				}

				a.download {
					padding: 3px;
				}

				span.social-label {
					display: block;
				}
			}
		}
	}
}

.byline {
	margin: 20px 0;

	h1 {
		margin-bottom: 0;
	}

	.category {
		font-size: 13px;
		display: block;
		margin-top: 10px;
		margin-bottom: 5px;
		font-family: $font-family-sans-serif;
		text-transform: uppercase;
	}
}

.citation {
	color: #808080;
	font-size: 14px;
}

.sidenav {
	.article-card-container {
		background: #f4f4f4;
		padding: 20px;
		border-radius: 2px;
	}

	article {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.article-card-container {
	article {
		.article-header {
			padding: 0;
		}

		h1 {
			font-size: 28px;
			margin-top: 10px;
			margin-bottom: 5px;

			a {
				color: #222;
			}
		}
	}

	.byline {
		margin: 0;
	}

	&.full-width {
		max-width: 677px;
		margin: auto;

		article {
			text-align: center;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		&.article-cards-left {
			article {
				text-align: left;
			}
		}

		@media (min-width: $screen-lg-min) {
			article {
				// padding-top: 40px;
				// padding-bottom: 40px;
		
			}
		}
	}
}

.expand-header {
	cursor: pointer;
	text-transform: uppercase;
	color: #ffffff;
	font-family: $font-family-sans-serif;
	text-align: center;
	padding: 10px;

	/* border: 1px solid #7c7c7c; */
	margin: 10px 0;
	font-size: 12px;
	background: #2baab6;

	&.contract {
		background: rgba(129, 180, 182, 0.49);
	}
}

.expanded-content-container .content {
	display: none;
	padding: 5px;
}