#article-carousel {
	.carousel-indicators {
		margin-top: 3px;
		margin-bottom: 3px;

		li {
			margin: 1.5px;
		}
	}

	.item {
		background-image: url("../images/slider-example-1.jpg");
		background-size: cover;
		background-color: #333;

		a {
			color: white;

			&:hover {
				p {
					text-decoration: none;
				}
			}
		}

		.container {
			min-height: 400px;

			@media (min-width: $screen-lg-min) {
				min-height: 500px;
			}

			@media (min-width: $screen-md-min) {
				min-height: 450px;
			}
		}

		&.has-image {
			background-size: cover;
			background-position: 50% 50%;
		}

		img {
			height: 500px;
		}

		.carousel-caption {
			position: static;

			@media (min-width: $screen-phone) {
				position: absolute;
			}

			p {
				padding-top: 20px;
			}

			h1 {
				font-size: 34px;
				line-height: 1.2;

				@media (min-width: $screen-md-min) {
					font-size: 42px;
					line-height: 1.2;
					padding-bottom: 30px;
				}

				@media (min-width: $screen-lg-min) {
					font-size: 49px;
				}
			}
		}
	}
}