.footer {
	background-color: #232323;
	color: #F0F0F0;
	font-family: franklin-gothic-urw ,Helvetica , Arial, sans-serif;
}

.footer a {
	color: #9a9a9a;
}

.footer-top-text {
	float: left;
	width: 50%;
}

.footer-top {
	padding-top: 15px;
	padding-bottom: 5px;
}

.iowa-law-review {
	font-family: IowaLawReview, Georgia, 'Times New Roman', serif;
	font-variant: small-caps;
	padding-right: 0px;
	padding-left: 0px;
}

.social-icons {
	float: right;
	padding-top: 25px;
	margin-left: 0;
}

.footer-links {
	float: left;
	width: 35%;
	padding: 1em 1em 1em;
}

.footer-links ul {
	border-left: 1px solid #9a9a9a;
	list-style: none;
}

.bar {
	border-top-color: #9a9a9a;
	margin-top: 5px;
}

.footer-bottom {
	background-color: #232323;
	padding-bottom: 15px;
	padding-top: 0px;
}

.rights {
	float: left;
	width: 33%;
}