.footer {
	background-color: #232323;
	color: #b6b6b6;
	margin-top: 60px;
	font-family: $font-family-sans-serif;
}

.footer a {
	color: #d7d7d7;
}

.footer h3 a {
	color: #fff;
}

.footer-top-text {}

.footer-top {
	padding-top: 15px;
	padding-bottom: 5px;
}

.iowa-law-review {
	font-family: IowaLawReview, Georgia, 'Times New Roman', serif;
	font-variant: small-caps;
}

.social-icons {
	padding-top: 25px;
	margin-left: 0;
	text-align: right;
}

.footer-links {
	padding: 1em 1em 1em;
}

.footer-links ul {
	border-left: 1px solid #494949;
	list-style: none;
	padding: 0;
	padding-left: 10px;
}

.bar {
	border-top-color: #494949;
	margin-top: 5px;
}

.footer-bottom {
	background-color: #232323;
	padding-bottom: 15px;
	padding-top: 0px;
}