.footer {
	background-color: #232323;
	color: #b6b6b6;
	margin-top: 60px;
}

.footer a {
	color: #d7d7d7;
	font-variant: small-caps;
}

.footer h3 a {
	color: #fff;
}

.footer-top-text {
	float: left;
	width: 50%;
}

.footer-top {
	padding-top: 15px;
	padding-bottom: 5px;
}

.iowa-law-review {
	font-family: IowaLawReview, Georgia, 'Times New Roman', serif;
	font-variant: small-caps;
	padding-right: 0px;
	padding-left: 0px;
}

.social-icons {
	float: right;
	padding-top: 25px;
	margin-left: 0;

	@media screen {
		float: left;
		padding-left: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

.footer-links {
	float: left;
	width: 40%;
	padding: 1em 1em 1em;
}

.footer-links ul {
	border-left: 1px solid #494949;
	list-style: none;
}

.bar {
	border-top-color: #494949;
	margin-top: 5px;
}

.footer-bottom {
	background-color: #232323;
	padding-bottom: 15px;
	padding-top: 0px;
}

.rights {
	float: left;
	width: 33%;

	@media screen {
		font-size: 0.75em;
		display: block;
	}
}