.division-topbar {
	background: #fff;

	.division-search-input, input.division-search-input[type="search"] {
		border-color: #ddd;
	}

	.uiowa {
		margin-left: 0;
	}
}

header {
	h1 {
		a {
			color: #111;

			&:hover {
				color: #111;
			}
		}

		font-variant: small-caps;

		@media (min-width: $screen-md-min) {
			font-size: 64px;
		}

		@media (min-width: $screen-lg-min) {
			padding-top: 35px;
			padding-bottom: 20px;
			margin: 0;
			font-size: 72px;
		}
	}

	.header-subnav-container {
		font-variant: small-caps;
		font-size: 15px;

		@media (min-width: $screen-md-min) {
			font-size: 19px;
		}

		p {
			@media (min-width: $screen-lg-min) {
				margin: 0;
				padding-bottom: 30px;
			}
		}
	}

	.visible-sm {
		padding-top: 20px;
	}

	.wordmark-container {
		@media (min-width: $screen-md-min) {
			margin-top: -35px;
		}
	}
}

.border-container {
	padding: 2px 0;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
}

.navbar-container {
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;

	&.affix {
		top: 0;
		z-index: 99;
		position: static;
		-webkit-box-shadow: 0px 10px 50px 8px rgba(#ddd, 0.1);
		-moz-box-shadow: 0px 10px 50px 8px rgba(#ddd, 0.1);
		box-shadow: 0px 10px 50px 8px rgba(#ddd, 0.1);

		@media (min-width: $screen-lg-min) {
			position: fixed;
			width: 100%;
		}
	}
}

.navbar-default .navbar-nav > li.nav-breadcrumb > a {
	color: #6d6d6d;
}

//Small nav:
.navbar.condensed-navbar {
	.navbar-form .form-control {
		width: 100%;

		&:hover {
			cursor: pointer;
		}

		@media (min-width: $screen-md-min) {
			width: 100px;
		}
	}

	.dropdown-toggle {
		font-weight: bold;
	}

	.dropdown-menu {
		//text-align: center;

	}

	&.search-expanded {
		@media (min-width: $screen-md-min) {
			.navbar-social {
				display: none;
			}

			.navbar-form .form-control {
				&:hover {
					cursor: auto;
				}

				&:focus {
					width: 100%;
				}
			}
		}
	}
}

.navbar {
	-webkit-backdrop-filter: blur(10px);
	border: 0;
	z-index: 99;
	font-family: $font-family-serif;
	font-variant: small-caps;
	font-size: 18px;

	.navbar-nav {
		text-align: center;
	}

	.navbar-nav.primary-nav li a {
		line-height: 1.5;
	}

	&.expanded-navbar {
		.navbar-nav.primary-nav li a {
			padding: 15px 25px;

			@media (min-width: $screen-lg-min) {
				padding: 15px 30px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		.navbar-nav.navbar-social > li > a {
			padding-top: 18px;
			padding-bottom: 0px;
		}

		.navbar-nav > li > a {
			padding-bottom: 13px;
		}
	}

	//global search styles:
	form.search {
		position: relative;

		input {
			border-radius: 20px;
			background: #f5f5f5;

			//transition: linear 0.1s;
	
		}

		.search-icon {
			position: absolute;
			top: 17px;
			right: 15px;

			@media (min-width: $screen-md-min) {
				top: 7px;
			}

			button {
				background: none;
			}
		}

		button {
			border: none;
			font-variant: small-caps;
			border-radius: 20px;
		}
	}

	.glyphicon {
		margin-right: 4px;
	}

	.navbar-brand {
		font-weight: bold;
		font-variant: small-caps;
		line-height: 1.4;
		font-family: $font-family-serif;
	}

	.nav-breadcrumb {
		font-size: 15px;

		//background: #eee;

		a.arrow:after {
			content: "\25B8";
			display: inline-block;
			padding: 0 6px 0 10px;
		}

		&.article-title {
			@media (min-width: $screen-md-min) {
				display: none;
			}

			@media (min-width: $screen-lg-min) {
				display: block;
			}
		}
	}

	.nav li a {
		.social-icon:before {
			color: $text-color;
		}
	}

	.navbar-form .form-control {
		font-family: $font-family-sans-serif;
		font-variant: normal;
		width: 100%;

		@media (min-width: $screen-md-min) {
			width: 175px;
		}

		@media (min-width: $screen-lg-min) {
			width: 300px;
		}
	}

	.dropdown-menu {
		padding: 0;
		text-align: center;
	}

	.dropdown-menu .divider {
		margin: 0;
	}

	button.btn.btn-default {
		//background: none;

	}

	input::-webkit-input-placeholder {
		padding: 5px 0;
		font-size: 16px;
	}

	input::-moz-placeholder {
		padding: 5px 0;
		font-size: 16px;
	}

	input:-moz-placeholder {
		/* Older versions of Firefox */
		padding: 5px 0;
		font-size: 16px;
	}

	input:-ms-input-placeholder {
		padding: 5px 0;
		font-size: 16px;
	}
}