.issue-header {
	padding: 15px 0;
	margin-top: 20px;

	h1 {
		margin-bottom: 0;
		margin-top: 0;
		font-variant: small-caps;

		a {
			color: $text-color;
		}
	}

	h1, h2 {
		font-family: $font-family-sans-serif;
	}

	h2 {
		margin-top: 0;
	}
}

.Issue {
	.issue-header {
		text-align: center;
	}
}

.masthead-image-container {
	box-shadow: 6px 6px 20px #ddd;
}