.issue-header {
	padding: 15px 0;

	h1 {
		margin-bottom: 0;
		margin-top: 0;

		a {
			color: $text-color;
		}
	}

	h2 {
		margin-top: 0;
	}
}

.masthead-image-container {
	box-shadow: 6px 6px 20px #ddd;
}