.issue-header {
	padding: 15px 0;
	margin-top: 20px;
	text-align: center;

	h1 {
		margin-bottom: 0;
		margin-top: 0;
		font-variant: small-caps;

		a {
			color: $text-color;
		}
	}

	h1, h2 {
		//font-family: $font-family-sans-serif;

	}

	h2 {
		margin-top: 0;
	}

	.featured-tag {
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		font-size: 13px;
		color: #888;
		margin: 0;
		background: none;
	}
}

.Issue {
	.issue-header {}
}

.masthead-image-container {
	box-shadow: 6px 6px 20px #ddd;
}