.icon-facebook, .icon-twitter:before, .icon-youtube:before, .icon-flickr:before {
  font-family: 'social';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e600";
}

.icon-twitter:before {
  content: "\e601";
}

.icon-youtube:before {
  content: "\e602";
}

.icon-flickr:before {
  content: "\e603";
}

.social-icon:before {
  color: $link-color;
}